body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(ait1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
    width: 100%;
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgba(255, 102, 0, 0.726);
    height: 50px;
    width: 100%;
    display: flex;

  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    font-size: 1.5em;
    }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  .header {
    overflow: hidden;
    padding: 20px 10px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: orangered;
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }

.dropdown {
    float: left;
    overflow: hidden;
    display: flex;
  }
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:peru;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: darkorange;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  
  .box {
    position: relative;
 }
  
  /* footer */
  .footer {
    margin-top: 500px;
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #adacac;
    background-color: rgb(14, 6, 6);
    border-top: 1px solid #d1c1c1;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo {
    font-family: 'Pacifico';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .nav__title {
    font-weight: 400;
    font-size: 15px;
  }

 
  
  .footer address {
    font-style: normal;
    color: rgba(226, 219, 219, 0.842);
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgba(233, 225, 225, 0.486);
    border-radius: 100px;
    color: #ebe6e6;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  .footer__btn:hover {
    background-color: rgba(255, 102, 0, 0.726);
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
    flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: rgb(167, 165, 165);
  }
  
  
  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }
  .btn{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color:darkorange;
    border-radius: 100px;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}
.btn:hover{
  background-color:darkgoldenrod;
}
.auto-slider{
  position: relative;
  display: flex;
  padding: 10px 10px 10px;
  background: rgb(245, 242, 242);
  max-width: 800px;
  max-height: 500px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px;
  border-style: solid black;
  border-width: 10px;
  box-shadow: 10px 10px 10px rgba(22, 17, 17, 0.4);

}
div#slider { overflow: hidden; }
div#slider figure img { width:20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0 auto;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s sliding ease infinite; 
}

  @keyframes sliding{
    0%{left: 0%; }
    20%{left: -100%;}
    40%{left: -200%;}
    60%{left: -300%;}
    80%{left: -400%;}
    100%{left: 0%;}
}        

 

